* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
}

body {
    display: flex;
    justify-content: center;
    background-color: #9cf1e6 !important;
}

#container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;
    border-radius: .5rem;
    background-color: #cffaf4;
}

#table-area {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;
    margin-bottom: 7%;
    border-radius: .5rem;
    background-color: #cffaf4;
}

form {
    width: 90%;
}

.top-area {
    display: flex;
    justify-content: space-between;
}

.select-cliente,
.input-valor-total {
    display: flex;
    flex-direction: column;
    width: 84%;
}

.input-valor-total {
    width: 80% !important;
}

.submit-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: black 1px dotted;
}

.submit-total button {
    height: 38px;
}

.input-produto-quantidade {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-produto, .input-quantidade,
.input-valor-unid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.input-produto-quantidade button {
    height: 38px;
    width: 38px;
}

.alert {
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.valor-total-compra {
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    width: 800px;
    padding: 0 2.5rem 0 2.5rem;
    font-size: 17px;
}

.valor-total-compra .value-p {
    font-weight: bold;
}